svg
	height 100%

	g.node
		fill white
		stroke black
		transition stroke 700ms

		&:hover
			cursor pointer

			ellipse
				fill lightblue

		&.highlight
			stroke green

			&.active
				fill lighten(green, 90%)
				stroke darkgreen

	g.edge
		&:not(.majority):hover
			cursor pointer

			text
				fill red

		path
			fill none
			stroke black