# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# data
/public/data
/script/lemma-html/lemma-html-config.json

# dependencies
/node_modules
script/lemma-html/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/research/

src/components/Manuscript/ManuscriptView copy.js

src/components/Manuscript/text.html

src/components/Manuscript/ManuscriptView.js

script/generateManuscripts.js

build.zip
