@import "./svg.css";

.graph {
  background-color: #fff;
  bottom: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  transition: left 350ms;
}

.graphWindow {
 
      position: relative;
      transition: left 550ms;
    }
    
