svg {
  height: 100%;
}
svg g.node {
  stroke: #000;
  transition: stroke 700ms;
}
svg g.node:hover {
  cursor: pointer;
}

svg  g.node.highlight ellipse{
      fill:#F2F19C ;
}

svg g.node.person ellipse{
      fill:#D1F3FA;
}

svg g.node.place ellipse{
      fill:#F3E3FB;
}

svg g.node.date ellipse{
      fill:#FAD3C3;
}

svg  g.node.highlight.active ellipse{
      /* stroke: red; */
      fill:#F2F19C ;
}

svg  g.node.highlight.start ellipse{
      fill:#d1f30d ;  
}

svg  g.node.disonance ellipse{
      fill: #D4FCA4 ;
}
svg  g.node.disonance.active ellipse{
      stroke: black;
      fill:#D4FCA4;
}

svg g.edge:not(.majority):hover {
  cursor: pointer;
}

svg g.edge path {
  fill: none;
  stroke: #000;
}
