.text-pane {

  display: flex;
}

.text-pane .reading {
  width: 32em;
  padding: 5px;
  margin-left: 20px;
  font-size: 1rem;
  line-height: 1.5em;
}

.text-pane .translation {
  width: 32em;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}

/* .text-pane .reading span.visible {
  color: #00a600;
  font-weight: bold;
}
.text-pane .reading span.visible.active {
  color: #006400;
} */

/* 
.text ul {
  height: 100%;
  overflow-y: auto;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  float: right;
}
.text ul li {
  margin: 0 auto;
  border-radius: 4px;
  background-color: #7b9fd1;
  display: block;
  padding: 6px;
  width: 60px;
  margin-bottom: 6px;
  cursor: pointer;
}
.text ul li.selected {
  background-color: #7a4dff;
}
.text ul li:hover {
  background-color: #aaf;
} */
