.heatmap
	bottom 0
	left 0
	position absolute
	right 0
	top 50%
	height 10%
	transition top 200ms

	&.top-aligned
		top 0%

	svg
		rect,polygon
			fill rgb(196, 196, 196)
			stroke rgba(196, 196, 196, 0.5)
			stroke-width 0.2px
			cursor pointer
			&:hover,
			&.highlighted
				fill lighten(green, 10%)
				stroke lighten(green, 15%)