@import "./graph/index.css";
@import "./text/index.css";
@import "./heatmap/index.css";

.picker {
  top: 0;
  position: absolute;
}

.sidebar {
  float: left;
}

.section-list {
  padding: .2em;
  background: #eee;
}

.legend {
  margin-bottom: 3em;
  padding: .2em;
  background: #eee;
  height: 10em;
}